/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap'); */
::-webkit-scrollbar {
  width: 8px;
  background-color: #eff4f7;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #eff4f7;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #1c817c;
}

/* .MuiTypography-root{
  font-family: 'Comfortaa',cursive !important;
} */
